<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
</head>
<body>
  <h1>All Users</h1>
   <% if user_signed_in? %>
        <%= link_to "Sign out", :logout, method: :delete, class: "" %>
      <% end %>
  <ul class="user-list">
    <% @users.each do |user| %>
      <li>
        <%= link_to user_path(user), class: "user-preview" do %>
          <% if user.photo.present? %>
            <%= image_tag user.photo, class: "image" %>
          <% end %>
          <div>
            <h2><%= user.name %></h2>
            <p><%= pluralize(user.posts_counter, 'post') %> written</p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</body>
</html>
