<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  <div class="info">
    <h2>Name: <%= @user.name %></h2>
    <% if @user.photo.present? %>
      <%= image_tag @user.photo, class: "user-photo" %>
    <% end %>
    <p>Bio: <%= @user.bio %></p>

    <h3>Recent Posts</h3>
    <ul class="user-posts">
      <% @user.recent_posts.each do |post| %>
        <li>
          <%= link_to user_post_path(@user, post), class: "post-card" do %>
            <div class="post-meta">
              <span class="post-title"><%= post.title %></span>
              <span class="post-footer"><%= time_ago_in_words(post.created_at) %> ago</span>
            </div>
            <p class="post-header">by <%= post.author.name %></p>
            <p class="post-content"><%= post.text %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
    <h3>Create a New Post</h3>
<%= form_with(model: [@user, Post.new], url: user_posts_path(@user)) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>
  <%= form.submit "Create Post" %>
<% end %>
    <%= link_to "Show All Posts", user_posts_path(@user), class: "show-all-posts-button" %>
  </div>
</body>
</html>
