<!DOCTYPE html>
<html>
<head>
  <title>All Posts by <%= @user.name %></title>
</head>
<body>
<% if user_signed_in? %>
        <%= link_to "Sign out", :logout, method: :delete, class: "" %>
      <% end %>
  <h1>All Posts by <%= @user.name %></h1>
  <% if @user.photo.present? %>
    <%= image_tag @user.photo, class: "user-photo" %>
  <% end %>
  <p>Number of Posts: <%= @user.posts.count %></p>
  <ul class="user-posts">
    <% @posts.each do |post| %>
      <li>
        <%= link_to user_post_path(@user, post), class: "post-card" do %>
          <div class="post-meta">
            <span class="post-title"><%= post.title %></span>
            <span class="post-footer"><%= time_ago_in_words(post.created_at) %> ago</span>
          </div>
          <p class="post-header">by <%= post.author.name %></p>
          <p class="post-content"><%= truncate(post.text, length: 100) %></p>
          <p class="post-comments"><%= pluralize(post.comments_counter, 'comment') %></p>
          <p class="post-likes"><%= pluralize(post.likes_counter, 'like') %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
  <button class="Pagination">Pagination</button>
</body>
</html>
