<!DOCTYPE html>
<html>
<head>
  <title>Post</title>
</head>
<body>
<% if user_signed_in? %>
        <%= link_to "Sign out", :logout, method: :delete, class: "" %>
      <% end %>
  <h1>Post</h1>
  <h2>Title: <%= @post.title %></h2>
  <p>Author: <%= @post.author.name %></p>
  <p>Comments: <%= pluralize(@post.comments_counter, 'comment') %></p>
  <p>Likes: <%= pluralize(@post.likes_counter, 'like') %></p>
  <%= form_with(model: [@post, @post.likes.build], url: user_post_likes_path(@post.author, @post)) do |form| %>
  <%= form.submit "Like" %>
<% end %>
  <p>Body: <%= @post.text %></p>
  <h3>Comments:</h3>
<% @post.comments.each do |comment| %>
  <% if comment.author.present? %>
    <p><%= comment.author.name %>: <%= comment.text %></p>
  <% end %>
<% end %>

  <h3>Add a Comment</h3>
<%= form_with(model: [@post, Comment.new], url: user_post_comments_path(@post.author, @post)) do |form| %>
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>
  <%= form.submit "Add Comment" %>
<% end %>
</body>
</html>
